doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Kate's pug doc
    body 
        h1 Hey there, I am learning pug
        p Welcome to my app
